@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model Dissertation.Areas.Member.Models.ItemViewModel

@{
    ViewData["Title"] = "Item Details";
    string userId = "";
    bool isAdmin = false;
    bool requestSubmitted = false;
    bool reviewSubmitted = false;
}

@if (signInManager.IsSignedIn(User))
{
    userId = userManager.GetUserId(User);
    if (await userManager.IsInRoleAsync(await userManager.GetUserAsync(User), "Admin"))
    {
        isAdmin = true;
    }
}

@for (int i = 0; i < Model.Requests.Count(); i++)
{
	if (Model.Requests.ElementAt(i).RenterId == userId)
	{
		requestSubmitted = true;
	}
}

@for (int i = 0; i < Model.Reviews.Count(); i++)
{
	if (Model.Reviews.ElementAt(i).UserId == userId)
	{
		reviewSubmitted = true;
	}
}


<h1 class="text-center">@Model.Item.Name</h1>

<div class="item-details-container" style="margin-bottom: 10vh;">
    <img src="@Html.DisplayFor(model => model.Item.ImagePath)" alt="Item image" style="width: 300px; height: auto;" />

    <div class="item-details-content">
        <p>@Html.DisplayFor(model => model.Item.Description)</p>
        <p style="font-size: 2rem; font-weight: 500">£@Html.DisplayFor(model => model.Item.Price)</p>
        <p style="font-size: 1.25rem">Category: @Html.DisplayFor(model => model.Item.Category)</p>
        @if (userId != Model.Item.LoanerId)
        {
            <h2>Send the owner a message!</h2> 
            <a asp-area="Member" asp-controller="Chat" asp-action="NewChat" asp-route-id="@Model.Item.Id" style="margin-bottom: 100px;" class="btn btn-primary">Message</a>

            if (requestSubmitted)
            {
                <p>You have already requested this item</p>
                <button id="calcelRequestBtn" class="btn btn-danger" style="width: 100%; margin-bottom: 50px">Cancel Request</button>
            }
            else
            {
                <h2>Want to request this item?</h2>
                <div>
                    <label for="datetime">Select date and time:</label>
                    <input type="hidden" value="@Model.Item.Id" />
                    <input type="datetime-local" id="requestDate" name="datetime"><br><br>

                    <button id="requestSendButton" class="btn btn-success" style="width: 100%; margin-bottom: 50px" value="Submit">Submit Request</button>
                </div>
            }
            @if (userId == Model.Item.LoanerId || isAdmin)
            {
                <a asp-action="Edit" asp-route-id="@Model?.Item.Id" class="btn btn-warning" style="width: 50%; margin-left: 25%;">Edit Item</a>
            }
        }
    </div>
</div>

@if (reviewSubmitted)
{
    <p>You have already reviewed this item</p>
}
else
{
    <div class="star-rating" id="reviewForm">
        <span class="star" data-value="1">&#9733;</span>
        <span class="star" data-value="2">&#9733;</span>
        <span class="star" data-value="3">&#9733;</span>
        <span class="star" data-value="4">&#9733;</span>
        <span class="star" data-value="5">&#9733;</span>
        <input type="hidden" name="rating" class="rating-value" id="ratingValue" value="0">
        <br />
        <textarea id="reviewText" class="review-text-input"></textarea>
        <br />
        <button type="submit" id="sendButton" class="btn btn-primary">Submit Review</button>
    </div>
}

<div id="reviews" class="mt-5 reviews">
    @foreach (var review in Model.Reviews)
    {
        <div class="review">
            <div class="review-header">
                <span class="reviewer-name">@review.User.UserName</span>
                <span class="review-date">@review.Timestamp</span>
            </div>
            <div class="review-body">
                <div class="review-rating">
                    @for (int i = 0; i < review.Rating; i++)
                    {
                        <span class="star selected">&#9733;</span>
                    }
                    @for (int i = review.Rating; i < 5; i++)
                    {
                        <span class="star">&#9733;</span>
                    }
                </div>
                <p class="review-text">@review.ReviewText</p>
            </div>
        </div>
        <hr style="margin-botton: 0;" />
    }
</div>

@section Scripts {
    <script>
        var itemId = @Model.Item.Id;

    </script>
    <script src="~/js/jquery-3.7.1.min.js"></script>
	<script src="~/js/review.js"></script>
    <script src="~/js/request.js"></script>
}