@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager
@inject UserManager<IdentityUser> userManager
@model IEnumerable<Dissertation.Models.Item>

@{
    ViewData["Title"] = "Item Manager";
    string userId = "";
    bool isAdmin = false;
}

@if (signInManager.IsSignedIn(User))
{
    userId = userManager.GetUserId(User);
    @if (await userManager.IsInRoleAsync(await userManager.GetUserAsync(User), "Admin"))
    {
        isAdmin = true;
    }
}

<h1>Manage Item</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Item</a>
</p>

@*Creates the table headings*@
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxDays)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@*Loops through each item in the database and displays them seperately to the user*@
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedOn)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ThumbnailPath)" alt="Item image" style="width: 100px; height: auto;" />
            </td>
            <td>
                @if (userId == item.LoanerId || isAdmin)
                {
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <text>|</text>
                }
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                @if (userId == item.LoanerId || isAdmin)
                {
                    <text>|</text>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
